body
	{   
        background:linear-gradient(0deg, rgba(8, 8, 8, 0.3), rgba(8,8,8, 0.3)), url(https://i.pinimg.com/originals/3d/a3/7d/3da37dc6421f978a50e165466f221d72.jpg);	
	 	background-repeat:no-repeat;	
	 }

body
{
	color:white;		

}
.right
{

	float:right;
}
.left
{
	float:left;
}


.button
{
	border: none;
    color: white;
    font-size: 26px;
}
			
.black
	{
		color:black;		

	}